<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>job-search-104-demo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .w3-button {width:150px;}
    body {
  background-color: #F7E8DB;
  color: black;
    }
    </style>
</head>
<body>
    <h1><b>請輸入欲搜尋的關鍵字及頁數</b></h1>
    <form method='post' action="/post_submit2">
        <p>keyword</p><input type='text' name='key_word' placeholder="多筆關鍵字可用空格隔開" pattern="[\u4e00-\u9fa5-a-zA-Z0-9_\s]{1,25}">
        <br>
         <p>pages(Up to 3)</p><input type='number' step="1" min="1" max="3" name='pages' value="1">
        <br>
        <p><button class="w3-button w3-light-blue">Submit</button></p>

    </form>
</body>
</html>
